section(class="bg-gray-50 overflow-hidden")
                div(class="py-14 bg-body rounded-b-5xl")
                div(class="py-12")
                    div(class="container px-4 mx-auto")
                        div(class="flex flex-wrap justify-center -m-8 mb-28")
                            div(class="w-full md:w-1/2 lg:w-4/12 p-8")
                                div(class="flex flex-col md:max-w-md items-center")
                                    img(class="mb-7", src="images/logo-dark-transparent.png", alt="")
                                    p(class="text-gray-400 font-medium") Take your computer vision capabilities to new heights
                            div(class="w-full md:w-1/2 lg:w-2/12 p-8")
                                //- h3(class="mb-6 text-lg text-black font-medium") Company
                                ul
                                    li(class="mb-2.5")
                                        a(class="inline-block text-lg font-medium text-gray-500 hover:text-black transition duration-300", href="index.html") Home
                                    li(class="mb-2.5")
                                        a(class="inline-block text-lg font-medium text-gray-500 hover:text-black transition duration-300", href="about.html") About
                                    li(class="mb-2.5")
                                        a(class="inline-block text-lg font-medium text-gray-500 hover:text-black transition duration-300", href="gallery.html") Gallery
                                    li(class="mb-2.5")
                                        a(class="inline-block text-lg font-medium text-gray-500 hover:text-black transition duration-300", href="documentation.html") Documentation
                                    li(class="mb-2.5")
                                        a(class="inline-block text-lg font-medium text-gray-500 hover:text-black transition duration-300", href="contact.html") Contact